<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<br/><br/><br/><hr/>
<div>
  Красавица и чудовище (Beauty and the Beast)

  https://avatars.mds.yandex.net/get-afishanew/28638/97eeab3538bd9a80cc8710a7ee2f42d3/orig

  В заколдованном замке, скрытом в темном лесу, живет ужасное Чудовище. Растопить лед в его сердце и вернуть ему человеческий облик, сняв заклятие, может только прекрасная девушка, которая полюбит его таким, какой он есть.
  Жанр: мультфильм, музыка, фэнтези, мелодрама
  В ролях: Эмма Уотсон, Люк Эванс, Юэн МакГрегор, Дэн Стивенс
  США, 81 мин.
  Купить билеты
</div>
<style>
    #task {
        font: 14px/1.5 Helvetica, Arial, sans-serif;
    }
    #task code {
        font: 0.9em Monaco, monospace;
        border: solid 1px #e6e6e6;
        border-radius: 3px;
        background-color: #f6f6f6;
        padding: 0 2px;
    }
    #task summary {
        outline: none;
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
    }
    #task textarea {
        border: none;
    }
    #task hr {
        margin: 2em 0 1.5em;
    }
</style>
<aside id="task">
  <hr>
  <details open>
    <summary>Макет</summary>
    <img src="https://raw.githubusercontent.com/maxvipon/html-tasks/master/afisha.png" alt="design"/>
  </details>
  <details open>
    <summary>С размерами</summary>
    <img src="https://raw.githubusercontent.com/maxvipon/html-tasks/master/afisha_sizes.png" alt="design"/>
  </details>
  <details open>
    <summary>Тех. данные</summary>
    <p>
      Ширина карточки от <code>300px</code> до <code>600px</code>.<br>
      Заголовок, постер, жанры и актеры – ссылки.<br>
      Шрифт: <code>Arial</code>, <code>Helvetica</code>.
    </p>
    <strong>Заголовок</strong>
    <ul>
      <li>размер шрифта <code>16px</code>
      <li>интерлиньяж <code>20px</code>
      <li>цвет <code>#2222cc</code>
      <li>цвет при наведении <code>#d00</code>
    </ul>
    <strong>Описание</strong>
    <ul>
      <li>размер шрифта <code>13px</code>
      <li>интерлиньяж <code>20px</code>
      <li>цвет <code>#333</code>
    </ul>
    <strong>Ссылки</strong>
    <ul>
      <li>цвет <code>#669</code>
      <li>цвет при наведении <code>#d00</code>
    </ul>
    <strong>Кнопка</strong>
    <ul>
      <li>скругление углов <code>3px</code>
      <li>размер шрифта <code>14px</code>
      <li>цвет шрифта <code>#000</code>
      <li>обычное состояние
        <ul>
          <li>фон <code>#ffdb4d</code>
          <li>граница <code>rgba(159,127,0,.8)</code>
        </ul>
      <li>наведение мыши
        <ul>
          <li>фон <code>#ffdb4d</code>
          <li>граница <code>rgba(191,153,0,.8)</code>
        </ul>
      <li>нажатие
        <ul>
          <li>фон <code>#ffcc00</code>
          <li>граница <code>rgba(159,127,0,.8)</code>
        </ul>
      <li>Иконки
        <ul>
          <li>play
            <ul>
              <li>размер <code>20х20px</code>
              <li>отступ от краев <code>5px</code>
            </ul>
            <textarea readonly rows="3" cols="82">
              <svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0v10l6-5z" fill="#333" fill-rule="evenodd"/>
              </svg>
            </textarea>
          </li>
        </ul>
      </li>
    </ul>
  </details>
</aside>
<hr />

<!--<h1>TEST</h1>-->
<!--<details open>-->
<!--  <div>TEST CHILDREN</div>-->
<!--</details>-->
</body>
</html>
