.container {
  width: 386px;
  height: 386px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  border-radius: 5px;
  padding: 20px;
  transition: transform .3s ease;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.01);
}

.title {

}

.body {

}
